.navbar, .card{
    box-shadow: none !important;
}
*{
    font-family: 'Muli', sans-serif;

}
.activated{
    border-bottom: 2px solid blue;
}
.nav-link{
    color: white !important;
}
.nav-link{
    font-size: 14px;
}
.navbar-brand{
    font-size: 14px;
    font-weight: 700;
}
.aboutus{
    border-color: rgb(200, 198, 196) !important;
    border: 1px solid;
}
.card-img-top {
    width: 80%;
    border-radius: 50% 50% 50% 50% !important;
    align-self: center !important;
    /* border-top-left-radius: calc(.25rem - 1px); */
    padding: 50px;
    border-top-right-radius: calc(.25rem - 1px);
}
.cardmb-2{
    background: #3B3C3C !important;
}
.cardbody{
    background: black;
}
.c-heading{
    font-size: 50px !important;
    line-height: 56px !important;
    padding: 37px 0 3px;
    font-weight: 600 !important;
    letter-spacing: -.01em;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 112px;
    font-weight: 600 !important;
}
.c-paragraph{
    font-size: 20px !important;
    line-height: 20px;
    padding: 12px 0 0;
    font-weight: 400 !important;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 80px;
    padding: 0 !important;
    color: black;
    margin-top: 30px;
}
.c-heading3{
    font-size: 20px !important;
    line-height: 24px !important;
    font-weight: 600 !important;
    opacity: .95;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
}
.c-heading2{
    font-size: 34px !important;
    line-height: 40px !important;
    padding: 37px 0 3px;
    font-weight: 600 !important;
    letter-spacing: -.01em;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 80px;
    font-weight: 600;
}